/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.profile
/.python_history
/.vscode-server
/.wget-hsts
/proyecto0
/proyecto1/bin
/proyecto1/include
/proyecto1/lib
/proyecto1/lib64
/proyecto1/share
