/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.profile
/.python_history
/.vscode-server
/.wget-hsts
/proyecto0
/proyecto1/bin
/proyecto1/include
/proyecto1/lib
/proyecto1/lib64
/proyecto1/share
**/__pycache__/
**/despliegueDEnv/
**/newWebServerEnv/
**/webserverEnv/
/tempDespliegueD/newWebServer/test.py
/tempDespliegueD/newWebServer/testSendMessage.py
/tempDespliegueD/newWebServer/testRedis.py
/tempDespliegueD/newWebServer/project/usuario/config.py
/tempDespliegueD/newWebServer/instance/*.cfg
/despliegueB/webServer/nohup.out
**/TempStorage/
/despliegueD/despliegueD/
**/cronserverEnv/
**/app/static/images_concurso/*
/despliegueD/webServer/app/config.py
